* {
  margin: 0;
  box-sizing: border-box;
}

.margin-top {
  margin-top: 1em;
}

.margin-bottom {
  margin-bottom: .5em;
}

.padding-left {
  padding-left: 2em;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: max-content;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: max-content;
}